<div class="row">
  <div class="table-responsive col-sm-6">
    <table class="table">
      <tbody>
      <tr>
        <th style="width:50%">产品编号</th>
        <td><%= @instance.instance_no %></td>
      </tr>
      <tr>
        <th>产品名</th>
        <td><%= @instance.name %></td>
      </tr>
      <tr>
        <th>父节点</th>
        <td><%= @instance.parent&.name %></td>
      </tr>
      <tr>
        <th>物料属性</th>
        <td><%= @instance.instance_category&.name %></td>
      </tr>
      <tr>
        <th>型号</th>
        <td><%= @instance.norms %></td>
      </tr>
      <tr>
        <th>备注</th>
        <td><%= @instance.desc %></td>
      </tr>
      <tr>
        <th>
          图纸
        </th>
        <td>
          <% if @instance.file_path.present? && current_user.instances.include?(@instance)%>
            <a href="javascript:void(0)" onclick="show_file(this)" class="btn show-file" data-url="<%= @instance.preview_url%>" data-file-name="<%= @instance.file_name %>">
              <i class="fa fa-eye"></i><%= show_file_name '文件',  @instance %>
            </a>
            <%= link_to @instance.preview_url, class: 'btn' do  %>
              <i class="fa fa-download"></i>
            <% end %>
          <% else %>
            <%= @instance.file_name %>
          <% end %>
        </td>
      <tr>
        <th>工艺文件</th>
        <td><%= link_to @instance.technology&.name, technology_path(@instance.technology) if @instance.technology.present? %></td>
      </tr>
      </tr>

      </tbody>
    </table>
  </div>
  <div class="table-responsive col-sm-6">
    <table class="table">
      <tbody>
      <tr>
        <th>创建人</th>
        <td><%= @instance&.user&.name %></td>
      </tr>
      <tr>
        <th>创建时间</th>
        <td><%= simple_time @instance.created_at %></td>
      </tr>
      <tr>
        <th>图纸变更人</th>
        <td><%= @instance&.file_user&.name %></td>
      </tr>
      <tr>
        <th>图纸变更时间</th>
        <td><%= simple_time @instance.last_updated_at %></td>
      </tr>
      <% if can? :cytoscape, :home %>
      <tr>
        <th>
          关系图
        </th>
        <td>
            <%= link_to cytoscape_home_index_path(instance_id: @instance.id),  class: 'btn btn-primary btn-xs', target: "view_window" do %>
              <i class="fa fa-gg"></i>关系图
            <% end %>
        </td>
      </tr>
      <% end %>
      <tr>
        <th>图纸可见人员</th>
        <td>
          <% @instance.users.each do |user| %>
            <span class="label label-primary " style="padding-bottom: 2px;padding-top: 2px;"><%= user.name %></span>
          <% end %>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>