<div id="form">
  <div class="modal-header" style="padding:5px; padding-left: 15px;">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="file-modal-label"></h4>
  </div>
  <%= simple_form_for(@instance, html: {class: 'form-horizontal group_form', onkeydown: "if(event.keyCode==13)return false;"}, wrapper: :horizontal_form) do |f| %>
    <div class="modal-body" >
      <%= f.input :instance_no %>
      <%= f.input :name%>
      <%= f.input :instance_category_id, collection: InstanceCategory.all.collect{|t| [t.name, t.id]}, input_html: { class: 'select2', width: '100%', style: 'width: 100%' }%>
      <%= f.input :technology_id, collection: Technology.all.collect{|t| [t.name, t.id]}, input_html: { class: 'select2', width: '100%', style: 'width: 100%' } %>
      <%= f.input :parent_id, collection: Instance.where('id != ?', @instance.id.to_i).collect{|t| [t.name, t.id]}, input_html: { class: 'select2', width: '100%', style: 'width: 100%' } %>

      <%= f.input :norms %>
      <%= f.input :desc %>
      <%= f.input :user_ids, collection: User.all.collect{|user| [user.name, user.id]}, input_html: { class: 'select2', width: '100%', style: 'width: 100%', multiple: "multiple" }, 'data-placeholder': "多选、 可输入文字检索"%>
      <%= f.input :organization_ids, collection: Organization.all.collect{|org| [org.name, org.id]}, input_html: { class: 'select2', width: '100%', style: 'width: 100%', multiple: "multiple" }, 'data-placeholder': "多选、 可输入文字检索"%>
      <%= f.input :product_ids, collection: Product.all.collect{|product| [product.name, product.id]}, input_html: { class: 'select2', width: '100%', style: 'width: 100%', multiple: "multiple" }, 'data-placeholder': "多选、 可输入文字检索"%>
    </div>
  <% end %>

  <div class="modal-footer">
    <%= button_tag '保存', class: 'btn btn-primary commit commit', data: { disable_with: '保存中' } %>
    <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
  </div>
</div>
<script tye="text/javascript">
    //ajax提交表单
    $(function(){
        $('.commit').click(function(){
            showSpinner();
            $.ajax({
                type: "POST",
                url: $('.group_form').attr('action'),
                data: $('.group_form').serialize(),
                dataType: 'script',
                async: false,
                error: function(request) {
                    alert("Connection error");
                },
                success: function(data) {
                    //接收后台返回的结果
                }
            });

        });
        $('.select2').select2();
    });
</script>


