<div class="row" id="instance-list">
  <div class="col-md-12">
    <div class="box">
      <%= form_tag instances_path, method: :get do%>
      <div class="box-header with-border">
        <h3 class="box-title">零件列表</h3>
        <% if can? :new, :instances %>
          <small><%= link_to '添加零件', new_instance_path , class: 'font-a label bg-green', 'data-toggle' => "modal", 'data-target' => "#global-modal" %></small>
        <% end %>
        <% if can? :import, :instances %>
          <small><%= link_to 'Bom单导入', import_instances_path, 'data-toggle' => "modal", 'data-target' => "#global-modal", class: 'font-a label bg-primary' %></small>
        <% end %>
      </div>
      <div class="box-tools">
        <div class="input-group input-group-sm">
          <div class="pull-right">
            <div class="col-xs-12">
              <input type="text" name="table_search" class="form-control" placeholder="检索" value="<%= params[:table_search] %>">
            </div>
          </div>

          <div class="input-group-btn">
            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
          </div>
        </div>
      </div>


      <% end %>
      <!-- /.box-header -->
      <div class="box-body">

        <table id="demo" class="table table-bordered"></table>
      </div>
      <script type="text/javascript">
          var treeTable = $('#demo').bootstrapTreeTable({
              expandAll : false,                // 是否全部展开
              expandFirst : false,
              toolbar: null,//顶部工具条
              columns: [{
                  title: '编号',
                  field: 'no',
                  width: '20%',
                  formatter: function (value, row, index) {
                     return "<a href='/instances/" + row.model_id +  "'> " + row.no + "</a>"
                  }
              },{
                  title: '名称',
                  field: 'name',
                  width: '20%'
              },{
                  title: '类型',
                  field: 'model_type',
                  width: '10%'
              },{
                  title: '型号',
                  field: 'norms',
                  width: '20%'
              },{
                  title: '创建人',
                  field: 'user_name',
                  width: '10%'
              },{
                  title: '操作',
                  field: 'action',
                  width: '20%',
                  formatter: function(value,row, index) {
                      var actions = [];
                      <% if can? :edit, :instances %>
                      actions.push('<a class="btn btn-success btn-xs" data-toggle="modal" data-target="#global-modal" href="/instances/' + row.model_id + '/edit"> <i class="fa fa-edit"></i>编辑 </a>');
                      <% end %>
                      <% if can? :destroy, :instances %>
                      actions.push('<a data-confirm="确定删除吗？" style="margin-left:5px;"  class="btn btn-danger btn-xs" rel="nofollow" data-method="delete" href="/instances/' + row.model_id + '"> <i class="fa fa-close"></i>删除 </a>');
                      <% end %>
                      return actions.join('');
                  }
              }],
              data: JSON.parse('<%= raw instances_tree instances, 0 %>')
          });
          $('.treetable-bars').hide();
      </script>
      <!-- /.box-body -->
      <div class="box-footer clearfix">
        <div class="pull-right pagination-sm no-margin">
          <%= paginate instances, params: {table_search: params[:table_search]} %>
        </div>
      </div>
    </div>
    <!-- /.box -->
  </div>
</div>