<div class="row">
  <div class="col-md-12">
    <div class="box">

      <!-- /.box-header -->
      <div class="box-body">
        <table class="table table-bordered">
          <tr>
            <th>零件编号</th>
            <th>零件名</th>
            <th>型号</th>
            <th>被变更时间</th>
            <th>图纸创建人</th>
            <th>图纸</th>
          </tr>
          <tr>
            <% if @instance.versions.present? %>
              <% @instance.versions.each do |version| %>
              <% if version.reify.present? %>
                <tr>
                  <td><%= link_to version.reify.instance_no, show_version_instance_path(version.reify, version_id: version.id), 'data-toggle' => "modal", 'data-target' => "#global-modal" %></td>
                  <td><%= version.reify.name %></td>
                  <td><%= version.reify.norms %></td>
                  <td><%= simple_time_mini version.created_at %></td>
                  <td><%= version.reify&.file_user&.name %></td>
                  <td>
                    <% if version.reify.file_path.present?  %>
                      <% if current_user.can_view?(@instance) %>
                        <a href="javascript:void(0)" onclick="show_file(this)" class="btn show-file" data-url="<%= version.reify.preview_url%>" data-file-name="<%= version.reify.file_name %>">
                          <i class="fa fa-eye"></i><%= show_file_name '文件',  version.reify %>
                        </a>
                        <%= link_to version.reify.download_url, class: 'btn' do  %>
                          <i class="fa fa-download"></i>
                        <% end %>
                      <% else %>
                        <%= show_file_name '文件',  version.reify %>
                      <% end %>

                    <% end %>
                  </td>
                </tr>
              <% end %>
            <% end %>
          <% else %>
            <tr>
              <td colspan="5" align="center">没有可显示的内容</td>
            </tr>
          <% end %>
          </tr>
        </table>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
</div>