<div class="modal-header" style="padding:5px; padding-left: 15px;">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title" id="file-modal-label"></h4>
</div>

<div class="modal-body" >
  <table class="table">
    <tbody>
    <tr>
      <th style="width:50%">零件编号</th>
      <td><%= @version.reify&.product_no %></td>
    </tr>
    <tr>
      <th>零件名</th>
      <td><%= @version.reify&.name %></td>
    </tr>
    <tr>
      <th>规格</th>
      <td><%= @version.reify&.norms %></td>
    </tr>
    <tr>
      <th>创建人</th>
      <td><%= @version.reify&.user&.name %></td>
    </tr>
    <tr>
      <th>被变更时间</th>
      <td><%= simple_time @version.created_at %></td>
    </tr>
    <tr>
      <th>图纸变更人</th>
      <td><%= @version.reify&.file_user&.name %></td>
    </tr>
    <tr>
      <th>图纸生效时间</th>
      <td><%= simple_time @version.reify&.active_at %></td>
    </tr>
    <tr>
      <th>备注</th>
      <td><%= @version.reify&.desc %></td>
    </tr>
    </tbody>
  </table>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
</div>