<div class="row" id="develop_instances">
  <div class="col-md-12">
    <div class="box">

      <!-- /.box-header -->
      <div class="box-body">
        <table class="table table-bordered">
          <tr>
            <th>零件编号</th>
            <th>零件名</th>
            <th>文件名</th>
            <th>上传人</th>
            <th>申请时间</th>
            <th>状态</th>
            <th></th>
          </tr>
          <tr>
            <% if @develop_instance_logs.present? %>
              <% @develop_instance_logs.each do |instance_log| %>
              <tr>
                <td>
                  <%= link_to instance_log.instance&.instance_no, instance_path(instance_log.instance) %>
                </td>
                <td>
                  <%= instance_log.instance&.name %>
                </td>
                <td>
                  <% if instance_log.file_path.present? %>
                    <a href="javascript:void(0)" onclick="show_file(this)" class="btn show-file" data-url="<%= instance_log.preview_url%>" data-file-name="<%= instance_log.file_name %>">
                      <i class="fa fa-eye"></i><%= show_file_name '文件',  instance_log %>
                    </a>
                    <%= link_to instance_log.download_url, class: 'btn' do  %>
                      <i class="fa fa-download"></i>
                    <% end %>
                  <% else %>
                    <%= instance_log.file_name %>
                  <% end %>
                </td>
                <td><%= instance_log.user&.name %></td>
                <td><%= simple_time_mini instance_log.updated_at %></td>
                <td><%= instance_log.get_status %></td>
                <td>
                  <% if can? :do_flow_audit, :instances %>
                    <% if instance_log.may_do_flow_audit?  %>
                      <%= link_to 'JavaScript:void(0)', onclick: "flow(#{instance_log.id})",class: 'btn btn-xs btn-success' do  %>
                        <i class="fa fa-circle-o"></i>同意
                      <% end %>
                    <% end %>
                  <% end %>

                  <% if can? :do_failed_audit, :instances %>
                    <% if instance_log.may_do_failed_audit? %>
                      <%= link_to 'JavaScript:void(0)', onclick: "failed(#{instance_log.id})",class: 'btn btn-xs btn-danger' do  %>
                        <i class="fa fa-close"></i>打回
                      <% end %>
                    <% end %>
                  <% end %>

                </td>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td colspan="7" align="center">没有可显示的内容</td>
            </tr>
          <% end %>
          </tr>
        </table>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
  <script type="text/javascript">
      function flow(id){
          if(confirm('确认同意吗？')){
              showSpinner();
              $.ajax({
                  type: 'post',
                  url: '<%= do_flow_audit_instances_path %>',
                  data: {id: id},
                  dataType: 'script',
                  success: function (data) {

                  }
              })
          }

      }

  </script>
</div>