<div id="form">
  <div class="modal-header" style="padding:5px; padding-left: 15px;">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="file-modal-label"></h4>
  </div>
  <%= simple_form_for(@technology, html: {class: 'form-horizontal group_form', onkeydown: "if(event.keyCode==13)return false;"}, wrapper: :horizontal_form) do |f| %>
    <div class="modal-body" >
      <%= f.input :no, label: '文件编号' %>
      <%= f.input :name%>
      <div class="form-group row string optional technology_valid_at">
        <label class="col-sm-3 col-form-label string optional" for="technology_valid_at">生效时间</label>
        <div class="col-sm-9">
          <div class="input-group date">
            <div class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </div>
            <input type="text" class="form-control pull-right datepicker readonly" value='<%=simple_time @technology.valid_at %>' id="technology_valid_at" name="technology[valid_at]" readonly>
          </div>
<!--          <input class="form-control string optional" type="text" name="technology[valid_at]" id="technology_valid_at">-->
        </div>
      </div>
      <%= f.input :desc %>
      <%= f.input :instance_ids, collection: Instance.all.collect{|instance| ["#{instance.instance_no}-#{instance.name}", instance.id]}, input_html: { class: 'select2', width: '100%', style: 'width: 100%', multiple: "multiple" }, 'data-placeholder': "多选、 可输入文字检索"%>
      <%= f.input :product_ids, collection: Product.all.collect{|product| ["#{product.product_no}-#{product.name}", product.id]}, input_html: { class: 'select2', width: '100%', style: 'width: 100%', multiple: "multiple" }, 'data-placeholder': "多选、 可输入文字检索"%>
      </div>

    </div>

  <% end %>
  <div class="modal-footer">
    <%= button_tag '保存', class: 'btn btn-primary commit commit', data: { disable_with: '保存中' } %>
    <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
  </div>

  <script type="text/javascript">
      // function getData(){
      //     var array_data = $('.group_form').serializeArray();
      //     var data = {}
      //     for (var i=0;i<array_data.length;i++)
      //     {
      //         data[array_data[i].name]= array_data[i].value;
      //     }
      //     console.log(data);
      //     return data;
      // }
      $(function(){
          $('.commit').click(function(){
              showSpinner();
              $.ajax({
                  type: "POST",
                  url: $('.group_form').attr('action'),
                  data: $('.group_form').serialize(),
                  dataType: 'script',
                  async: false,
                  error: function(request) {
                      alert("Connection error");
                  },
                  success: function(data) {
                      //接收后台返回的结果
                  }
              });

          });
          $('.select2').select2();
          $('.datepicker').datepicker({
              autoclose: true,
              language: 'zh-cn'
          });
      });
  </script>
</div>



