<div class="row" id="technology_logs">
  <div class="col-md-12">
    <div class="box">

      <!-- /.box-header -->
      <div class="box-body">
        <table class="table table-bordered">
          <tr>
            <th>文件名</th>
            <th>上传人</th>
            <th>上传时间</th>
            <th>状态</th>
            <th>生效时间</th>
            <th></th>
          </tr>
          <tr>
            <% if @technology.view_logs(current_user).order('technology_logs.updated_at desc').present? %>
              <% @technology.view_logs(current_user).order('technology_logs.updated_at desc').each do |technology_log| %>
                <tr>
                  <td>
                    <% if technology_log.file_path.present? %>
                      <a href="javascript:void(0)" onclick="show_file(this)" class="btn show-file" data-url="<%= technology_log.preview_url%>" data-file-name="<%= technology_log.file_name %>">
                        <i class="fa fa-eye"></i><%= show_file_name '文件',  technology_log %>
                      </a>
                      <%= link_to technology_log.download_url, class: 'btn' do  %>
                        <i class="fa fa-download"></i>
                      <% end %>
                      <% else %>
                      <%= technology_log.file_name %>
                    <% end %>
                  </td>
                  <td><%= technology_log.user&.name %></td>
                  <td><%= simple_time_mini technology_log.updated_at %></td>
                  <td><%= technology_log.get_status %></td>
                  <td><%= simple_time_mini technology_log.active_at %></td>
                  <td>
                    <% if can? :apply, :technologies %>
                      <% if technology_log.may_do_apply? && @current_user == technology_log.user  %>
                        <%= link_to '申请', apply_technology_path(technology_log) , class: 'font-a label bg-green', 'data-toggle' => "modal", 'data-target' => "#global-modal" %>
                      <% end %>
                    <% end %>

                    <% if can? :edit_file, :instances %>
                      <% if ['wait', 'failed'].include? technology_log.status %>
                        <%= link_to '图纸变更', edit_file_technology_path(technology_log), 'data-toggle' => "modal", 'data-target' => "#global-modal", class: 'btn btn-primary btn-xs'%>
                      <% end %>
                    <% end %>
                  </td>
                </tr>
            <% end %>
          <% else %>
            <tr>
              <td colspan="5" align="center">没有可显示的内容</td>
            </tr>
          <% end %>
          </tr>
        </table>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
</div>