<div class="row">
  <div class="table-responsive col-sm-6">
    <table class="table">
      <tbody>
      <tr>
        <th style="width:50%">产品编号</th>
        <td><%= @product.product_no %></td>
      </tr>
      <tr>
        <th>产品名</th>
        <td><%= @product.name %></td>
      </tr>
      <tr>
        <th>型号</th>
        <td><%= @product.norms %></td>
      </tr>
      <tr>
        <th>备注</th>
        <td><%= @product.desc %></td>
      </tr>
      <tr>
        <th>图纸可见人员</th>
        <td>
          <% @product.users.each do |user| %>
            <span class="label label-primary " style="padding-bottom: 2px;padding-top: 2px;"><%= user.name %></span>
          <% end %>

        </td>
      </tr>
      <tr>
        <th>
          图纸
        </th>
        <td>
          <% if @product.file_path.present? && current_user.can_view?(@product)%>
            <a href="javascript:void(0)" onclick="show_file(this)" class="btn show-file" data-url="<%= @product.preview_url%>" data-file-name="<%= @product.file_name %>">
              <i class="fa fa-eye"></i><%= show_file_name '文件',  @product %>
            </a>
            <%= link_to @product.preview_url, class: 'btn' do  %>
              <i class="fa fa-download"></i>
            <% end %>
          <% else %>
            <%= @product.file_name %>
          <% end %>
        </td>
      </tr>

      </tbody>
    </table>
  </div>
  <div class="table-responsive col-sm-6">
    <table class="table">
      <tbody>
      <tr>
        <th>创建人</th>
        <td><%= @product&.user&.name %></td>
      </tr>
      <tr>
        <th>创建时间</th>
        <td><%= simple_time @product.created_at %></td>
      </tr>
      <tr>
        <th>图纸变更人</th>
        <td><%= @product&.file_user&.name %></td>
      </tr>
      <tr>
        <th>图纸变更时间</th>
        <td><%= simple_time @product.last_updated_at %></td>
      </tr>
      <tr>
        <th>图纸可见部门</th>
        <td>
          <% @product.organizations.each do |org| %>
            <span class="label label-primary " style="padding-bottom: 2px;padding-top: 2px;"><%= org.name %></span>
          <% end %>

        </td>
      </tr>
      <tr>
        <th>关联零件</th>
        <td>
          <% @product.instances.each do |instance| %>
            <span class="label label-primary " style="padding-bottom: 2px;padding-top: 2px;"><%= "#{instance.instance_no} / #{instance.name}" %></span>
          <% end %>
        </td>
      </tr>
      <%# if can? :cytoscape, :home %>
<!--        <tr>-->
<!--          <th>-->
<!--            关系图-->
<!--          </th>-->
<!--          <td>-->
            <%#= link_to cytoscape_home_index_path(product_id: @product.id),  class: 'btn btn-primary btn-xs', target: "view_window" do %>
<!--              <i class="fa fa-gg"></i>关系图-->
            <%# end %>
<!--          </td>-->
<!--        </tr>-->
      <%# end %>
      </tbody>
    </table>
  </div>
</div>