<div class="row">
  <div class="col-md-12">
    <div class="box">

      <!-- /.box-header -->
      <div class="box-body">
        <table class="table table-bordered">
          <tr>
            <th>产品编号</th>
            <th>产品名</th>
            <th>产品型号</th>
            <th>图纸创建人</th>
            <th>图纸</th>
          </tr>
          <tr>
            <% if @product.versions.present? %>
              <% @product.versions.each do |version| %>
              <% if version.reify.present? %>
                <tr>
                  <td><%= link_to version.reify.product_no, show_version_product_path(version.reify, version_id: version.id), 'data-toggle' => "modal", 'data-target' => "#global-modal" %></td>
                  <td><%= version.reify.name %></td>
                  <td><%= version.reify.norms %></td>
                  <td><%= version.reify&.user&.name %></td>
                  <td>
                    <% if version.reify.file_path.present? %>
                    <a href="javascript:void(0)" onclick="show_file(this)" class="btn show-file" data-url="<%= version.reify.preview_url%>" data-file-name="<%= version.reify.file_name %>">
                      <i class="fa fa-eye"></i><%= show_file_name '图纸文件',  version.reify %>
                    </a>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            <% end %>
          <% else %>
            <tr>
              <td colspan="5" align="center">没有可显示的内容</td>
            </tr>
          <% end %>
          </tr>
        </table>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
</div>