<%= render 'products/header' %>
<div class="row">
  <div class="box-body">
    <div class="nav-tabs-custom">
      <ul class="nav nav-tabs" data-turbolinks="false">
        <li class="active"><a href="#tab_1" data-toggle="tab">基本信息</a></li>
        <li><a href="#tab_2" data-toggle="tab">历史版本</a></li>
        <li><a href="#tab_3" data-toggle="tab">图纸历史</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="tab_1">
          <%= render 'products/detail' %>
        </div>
        <div class="tab-pane" id="tab_2">
          <%= render 'products/versions' %>
        </div>
        <!-- /.tab-pane -->
        <div class="tab-pane" id="tab_3">
          <%= render 'products/product_logs' %>
        </div>
        <!-- /.tab-pane -->
      </div>
      <!-- /.tab-content -->
      <div class="modal-footer">
        <%= link_to '图纸上传', upload_file_product_path(@product), 'data-toggle' => "modal", 'data-target' => "#global-modal", class: 'btn btn-success' if can? 'upload_file', 'products' %>
        <%= link_to '返回', products_path, class: 'btn btn-default' %>
      </div>
    </div>
    <!-- nav-tabs-custom -->

  </div>

  <!-- 初始化按钮 start -->
  <div class="col-md-12">
  </div>
  <!-- 初始化按钮 end -->
  <!-- 初始化配置 start -->
</div>