<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="" class="img-circle" alt="User Image">
        <canvas class='canvas' style="display:none" first_name="<%= current_user.name.present? ? current_user.name[0].upcase : 'D' %>"></canvas>
      </div>
      <div class="pull-left info">
        <p><%= current_user.name %></p>
        <a href="javascript:void(0);"><%= current_user.role&.name %></a>
      </div>
    </div>
    <!-- search form -->
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header"><i class="fa fa-dashboard"></i><span>控制台</span></li>
      <% if can? :index, :home %>
        <li class="<%= active_class params, 'home', 'index' %>">
          <%= link_to root_path do %>
            <i class="fa fa-home"></i> <span>主页</span>
          <% end %>
        </li>
      <%end %>
      <% if can? :files_search, :home %>
        <li class="<%= active_class params, 'home', 'files_search' %>">
          <%= link_to files_search_home_index_path do %>
            <i class="fa fa-search"></i> <span>全局搜索</span>
          <% end %>
        </li>
      <%end %>
      <% if can? :cytoscape, :home %>
        <li class="<%= active_class params, 'home', 'cytoscape' %>">
          <%= link_to cytoscape_home_index_path, target: "view_window" do %>
            <i class="fa fa-gg"></i> <span>关系图</span>
          <% end %>
        </li>
      <%end %>
      <% if can? :index, :products %>
      <li class="<%= active_class params, 'products' %>">
        <%= link_to products_path do %>
          <i class="fa fa-leaf"></i> <span>产品</span>
        <% end %>
      </li>
      <%end %>
      <% if can? :index, :instances %>
        <li class="<%= active_class params, 'instances' %>">
          <%= link_to instances_path do %>
            <i class="fa fa-cogs"></i> <span>零件</span>
          <% end %>
        </li>
      <%end %>

      <% if can? :index, :technologies %>
        <li class="<%= active_class params, 'technologies' %>">
          <%= link_to technologies_path do %>
            <i class="fa fa-file-o"></i> <span>工艺文件</span>
          <% end %>
        </li>
      <%end %>

      <% if can? :index, :audits %>
        <li class="<%= active_class params, 'audits' %>">
          <%= link_to audits_path do %>
            <i class="fa fa-pencil"></i> <span>审批</span>
          <% end %>
        </li>
      <%end %>
      <% if can? :index, :matters %>
        <li class="<%= active_class params, 'matters' %>">
          <%= link_to matters_path do %>
            <i class="fa  fa-file-excel-o"></i> <span>Bom单</span>
          <% end %>
        </li>
      <%end %>
        <li class="<%= active_class params, 'notices' %>">

          <a href="javascript:void(0)">
            <i class="fa fa-bell"></i>
            <span>通知</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
              <% if @unread_notices.size > 0 %>
              <small class="label pull-right bg-yellow"><%= @unread_notices.size %></small>
                <% end %>
              <% if @unreply_notices.size > 0 %>
              <small class="label pull-right bg-red"><%= @unreply_notices.size %></small>
              <% end %>
            </span>
          </a>
          <ul class="treeview-menu">

            <% if can? :receives, :notices %>
              <li class="<%= active_class params, 'receives', 'notices' %>">
                <%= link_to receives_notices_path do %>
                  <i class="fa fa-envelope"></i> <span>收件箱</span>
                <% end %>
              </li>
            <% end %>
            <% if can? :sends, :notices %>
              <li class="<%= active_class params, 'sends', 'notices' %>">
                <%= link_to sends_notices_path do %>
                  <i class="fa fa-send"></i> <span>发件箱</span>
                <% end %>
              </li>
            <% end %>
          </ul>
        </li>
      <% if current_user.has_role? 'super_admin' %>
      <li>
        <%= link_to rails_admin_path do %>
          <i class="fa fa-gear"></i> <span>后台管理</span>
        <% end %>
      </li>
      <%end %>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>