<!DOCTYPE html>
<html>

<%= render 'layouts/head' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>

<body class="hold-transition sidebar-mini skin-blue">

<div class="wrapper">
    <%= render 'layouts/navbar' %>
    <%= render 'layouts/sidebar' %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" >
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <%= yield(:content_header) %>
    </section>

    <!-- Main content -->
    <section class="content">
      <%= yield %>
    </section>

  </div>

  <%= render 'layouts/footer' %>
    <%= render 'layouts/control_sidebar' %>

</div>
<%= render 'layouts/modal' %>
<%= render 'layouts/tips' %>


<script>
    <% if !@demo_mode %>
    <% if @collapsed_sidebar_expand_on_hover %>
    collapsed_sidebar_expand_on_hover();
    <% end %>
    <% if @right_sidebar_slide %>
    right_sidebar_slide();
    <% end %>
    <% else %>
    <% end %>
</script>
<div id="spinner">

</div>
</body>
</html>
